<h1> Wallet Schmallet </h1>

<div>You have <%= number_to_currency(@total) %> in your </div>

<div><%= link_to "Create New Transaction", new_transaction_path %></div>
<div><%= link_to "List all Transactions", transactions_path %></div>
